.web{
    display:flex;
    flex:1;
    align-items: center;
}

.web-option{
    font-size: 20px;
    margin-right: 16px ;
    font-weight: 400;
}

.web-option a{
    text-decoration: none;
    color: #fefefe;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
   
}

.web-option:last-child{
    margin-right: 0px;
}